Package: com.shade.vitality
Name: Vitality
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.11)
Version: 0.3
Architecture: iphoneos-arm
Description: Animated Wallpapers
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
